@font-face {
    font-family: 'ChosunBg';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunBg/ChosunBg.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunBg/ChosunBg.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunBg/ChosunBg.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunBg/ChosunBg.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunBg/ChosunBg.ttf') format("truetype");
    font-display: swap;
}